{% extends 'book_app/base.html' %}
{% block body_block %}

<h2 id="blog-detail-title">{{ blog.title }}</h2>
<p id="blog-detail-posted">Posted: {{ blog.posted }}</p>
<p id="blog-detail-body">{{ blog.body|safe|linebreaksbr }}</p>

<hr>

<div id="comment-button">
  <a class="btn btn-outline-secondary" href="{% url 'book_app:add_comment_to_post' pk=blog.pk %}">Add comment</a>
</div>
  {% for comment in blog.comments.all %}
    <div class="comment-part">
      <strong>{{ comment.author }}</strong>
      <p>{{ comment.text|linebreaks }}</p>
    </div>
  {% empty %}
    <p>No comments yet</p>
  {% endfor %}

{% endblock %}
