<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>User list</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/my_style.css"%}">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome!</h1>

    <div class="userlist">
      {% if user_data %}
      <ol>
      {% for user in user_data %}
        <li>User info</li>
            <ul>
              <li>First name: {{ user.first_name }}</li>
              <li>Last name: {{ user.last_name }}</li>
              <li>Email: {{ user.email }}</li>
            </ul>
        {% endfor %}
        </ol>
        {% else %}
        <p>No user data available</p>
        {% endif %}
    </div>

  </body>
</html>
