h1, h2{
color:red;
text-align: center;
}

p {
font-size: 12px;
text-indent: 1.5em;
}

#divone {
font-size: 12px;
border: 2px solid black;
padding: 25px;
width: 250px;
margin: auto
}

#divtwo {
font-size: 12px;
border: 2px solid black;
padding: 25px;
margin: 5px;
}


a:hover {
background-color:yellow;
}

p:first-letter{
font-size: 20px;
}
p:first-line{
background-color: yellow;
}

table{
width: 85%;
border-spacing: 0;
border: 2px solid grey;
}

th, td{
border: 2px solid grey;
padding: 5px;
}

th {
text-align: center;
background-color: #FFFF66;
font-size: 1.5em;
}

tr:nth-child(odd){
background-color: grey;
}

tr:nth-child(even){
background-color: #FFFF66;
}
