body {
  font-family: 'Sree Krushnadevaraya', serif;
  padding-bottom: 80px;
}

#navbar-item{
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
}

#linkblog {
  text-align: center;
  margin: 50px 0px 0px;
}

#buttonblog {
  text-decoration: none;
  color: black;
  border: 1px outset #93969b;
  box-shadow: 2px 2px 3px #9ea2a8;
  padding: 20px;
  border-radius: 15px;
}

#buttonblog:hover{
  color: orange;
  border: 1px solid orange;
}

.typewriter h1{
  overflow: hidden;
  border-right: .10em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 3;
}

#blog-list{
  list-style: circle outside none;
  color: #9ea2a8;
}

#blog-title {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#blog-title:hover{
  color: orange;
}

#blog-detail-title{
  margin: 20px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

#blog-detail-posted{
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

#blog-detail-body{
  margin: 50px;
}

.comment-part{
  margin: 20px auto;
  padding: 10px;
  border: 1px #93969b;
  box-shadow: 2px 2px 3px #9ea2a8;
  width: 50%;
}

#comment-button{
  display: flex;
  justify-content: center;
  width: 50%;
  padding-left: 110px;
}

.btn:hover{
  color: orange;
  background-color: white;
  border: 1px solid orange;
}

@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 2px 2px 3px #9ea2a8;
}

.flip-card-front {
  background-color: white;
  color: black;
  padding: 20px;
}

.flip-card-back {
  background-color: orange;
  color: white;
  transform: rotateY(180deg);
  padding: 50px;
}

.cards{
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*.carousel{
  width: 300px;
  box-shadow: 2px 2px 3px #9ea2a8;
  margin: 80px 0px;
  padding: 20px;
  text-align: center;
}

#carousel_middle{
  width: 30px;
}*/

#middle-card{
  width: 20px;
}

.footer{
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  display: flex;
  background-color: #707172;
  color: white;
}

.footer a{
  color: white;
  opacity: 0.5;
  margin: 20px;
  font-size: 50px;
}

.footer a:hover{
  color: white;
  opacity: 2;
}

#quote{
  line-height: 80px;
}
