<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static "css/form_style.css" %}">
</head>
<body>
  <div class="container">
    <h3>Fill in this form</h3>

    <form method="POST">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" class = "btn btn-primary" value="Submit">
    </form>
  </div>
</body>
</html>
