{% extends "book_app/base.html" %}
{% block body_block %}


<div id=border-login>
  <h2 class="login-form">Please Login: </h2>
  <h3 class="login-form">(Must be SuperUser, please check admin for issues.)</h3>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again!</p>
  {% endif %}

  <form class="login-form" method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" class='btn btn-secondary' value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

{% endblock %}
